.footer {
  border-top: 1px solid var(--color-gray-700);
  margin-top: auto;
  padding: 22px 0;
}

.footer__copy {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
}
